#main_container {
  background-color: aquamarine;
  padding: 50px;
  border-radius: 5px;
  border: solid black;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

html {
  background-color: bisque;
}
