#flex_box {
  padding: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image_container {
  display: inline-block;
  padding: 50px;
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 5px;

  max-width: 500px;
}

#img_container {
  display: block;
}

#text_container {
  max-width: 500px;
  overflow-wrap: break-word;
}
